<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>回复</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <base th:href="@{/}">
</head>
<body>
<form class="layui-form" lay-filter="formTest">

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="commentId" th:if="${comment!=null}" th:value="${comment.commentId}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回复内容</label>
        <div class="layui-input-block">
            <input type="text" name="replyBody" lay-verify="replyBody" th:if="${comment!=null}" th:value="${comment.replyBody}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script>
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        // 表单验证
        form.verify({
            replyBody:function (value,item) {
                    if (value == null || value == ""){
                        return "回复内容不能为空"
                    }
            }
        });

        // 监听表单提交
        form.on('submit(demo1)', function(data){
                // 提交表单数据
                $.post("/comment/insertComment",data.field,function (data) {
                    if(data.code == 0){
                        layer_close();
                        parent.layui.table.reload("idTest")
                    }else{
                        layer.msg(data.msg);
                    }
                });
                 return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
    });
</script>
</body>
</html>