<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
</head>
<body>

<div class="ui two column doubling stackable grid">
    <!-- 基本信息 -->
    <div class="column">
        <div class="ui teal segment">
            <form class="ui form" id="infomation">
                <h4 class="ui dividing header">基本信息</h4>
                <div class="field">
                    <label>登录名称</label>
                    <div class="field">
                        <input type="hidden" name="adminUserId">
                        <input type="text" name="loginUserName">
                    </div>
                </div>

                <div class="field">
                    <label>昵称</label>
                    <div class="field">
                        <input type="text" name="nickName">
                    </div>
                </div>

                <div class="field">
                    <div class="fields">
                        <div class="ten wide field">
                        </div>
                        <div class="five wide field">
                            <button type="button" class="ui red small button" onclick="updateInfoMation()">确认修改</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 修改密码 -->
    <div class="column">
        <div class="ui teal segment">
            <form class="ui form" id="updatePassword">
                <h4 class="ui dividing header">修改密码</h4>
                <div class="field">
                    <label><i class="key icon"></i>原密码</label>
                    <div class="field">
                        <input type="hidden" name="adminUserId">
                        <input type="text" name="password">
                    </div>
                </div>

                <div class="field">
                    <label><i class="key icon"></i>新密码</label>
                    <div class="field">
                        <input type="text" name="newPassword">
                    </div>
                </div>

                <div class="field">
                    <div class="fields">
                        <div class="ten wide field">
                        </div>
                        <div class="five wide field">
                            <button type="button" class="ui red small button" onclick="chagePassword()">确认修改</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ui page dimmer">
    <div class="content">
        <div class="center" style="font-size: 35px">修改成功，即刻重新登录</div>
    </div>
</div>

<script th:src="@{/layui/layui.all.js}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>

    $(function () {
        loaddingUserinfomation();
    })

    // 异步加载基本信息
    function loaddingUserinfomation() {
        $.get("/config/userInformation", function (data) {
            $("input[name='loginUserName']").val(data.loginUserName);
            $("input[name='nickName']").val(data.nickName);
            $("input[name='adminUserId']").val(data.adminUserId);
        });
    }

    // 异步修改用户信息
    function updateInfoMation() {
        $('.page').dimmer('show');
        // 异步修改基本信息
        $.get("/config/updateInfoMation", $("#infomation").serialize(), function () {
                setTimeout(function(){
                    window.location.href="/admin/logout";
                },3000);

        });
    }

    // 异步修改密码
    function chagePassword() {
        $('.page').dimmer('show');
        // 异步修改密码
        $.get("/config/updatePassword", $("#updatePassword").serialize(), function (data) {
            if(data.code == 0) {
                $(".center").html("修改成功，即刻重新登录");
                $('.page').dimmer('show');
                setTimeout(function () {
                    window.location.href = "/admin/logout";
                }, 3000);
            }else{
                $(".center").html(data.msg);
                $('.page').dimmer('show');
            }
        });
    }

</script>
</body>
</html>