#herui{
    height: 300px;
    background-size: cover;
    background-image: url('../img/sky.jpg');
}

#p1{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#p2{
    color: white;
    font-size: 15px;
    font-style: italic;
}

#p2 span{
    margin-right: 10px;
}

#d1{
    width: 450px;
    height: auto;
    margin-top: 100px;
    margin-left: 220px;
}

#d1 div{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 12px;
    margin-right: 20px;
    float: left;
}

#nav-div-1 h4{
    font-weight: bold;
    color: white;
}

#nav-ul-1 li a{
    font-weight: bold;
    color: white;
}

#nav-ul-1 li a:hover{
    background: none;
    opacity: 1;
}

#footer{
    background: #273547;
    height: 120px;
}

#footer-div{
    text-align: center;
    color: white;
    font-size: 12px;
}

#footer-div p:first-child {
    margin-top: 40px;
}